$appleGray: #909093

.itemWrapper
  width: 100%
  height: 78px
  display: flex
  align-items: center
  padding: 0 0 0 20px
  margin: 5px 0 0 0
  .itemAvatar
    width: 45px
    height: 45px
    overflow: hidden
    border-radius: 50%
    img
      width: 100%
      height: 100%
      object-fit: cover
  .itemContent
    position: relative
    width: calc(100% - 45px)
    padding: 0 12px
    &:before
      content: ''
      width: 96%
      height: 1px
      position: absolute
      background-color: rgba(60, 60, 67, 0.2)
      left: 13px
      bottom: -10px
    .itemContentHeader
      display: flex
      justify-content: space-between
      align-items: center
      h3
        font-size: 18px
        font-weight: 600
      span
        font-size: 15px
        color: $appleGray
        position: relative
        padding-right: 25px
        &:after
          content: ''
          width: 20px
          height: 20px
          background: url("../../img/arrow.svg") no-repeat
          position: absolute
          top: 0
          right: 3px
    .itemMessage
      margin: 3px 0
      font-size: 15px
      color: $appleGray




